[submodule "kmk_firmware"]
	path = kmk_firmware
	url = https://github.com/checksummaster/kmk_firmware.git
[submodule "Adafruit_CircuitPython_BLE"]
	path = Adafruit_CircuitPython_BLE
	url = https://github.com/adafruit/Adafruit_CircuitPython_BLE.git
